{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-sm-8">
            <h1>{{ object.title }}</h1>
            <br>
            <p class="lead">
                {{ object.description }}
            </p>
            <div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-3">
                            <h3 class="text-info">{{ product.title }}</h3>
                            <img src="{{ product.productimage_set.all.0.image.url }}" class="img-responsive">
                            <p class="lead">
                                {{ product.description|truncatewords:10 }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}