{% extends 'base.html' %}

{% block content %}

    <div class="row">
        {% for object in products %}
            <div class="col-xs-4">
                 <h1><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h1>
                <div class="thumbnail text-center">
                    <h4><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h4>
                    <a href="{{ object.get_absolute_url }}">
                        <img src="{{ object.get_img_url }}" class="img-responsive">
                    </a>
                </div>
            </div>
            {% cycle '' '' '</div><div class="row">' %}

        {% endfor %}

    </div>

{% endblock %}