{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{#    {% block style %}#}
{#        .navbar-static-top {#}
{#            margin-bottom: 0px !important;#}
{#        }#}
{#    {% endblock %}#}
</style>



{% block jumbotron %}

        {% if featured_image %}
             <div class="jumbotron"
                  {% if featured_image.make_image_background %}
                      style="
                              background-image: url('{{ featured_image.image.url }}');
                              background-size: cover;
                              background-position-y: -165px">
                  {% endif %}
                <div class="container">
                    <div class="row">
                        <div class='col-sm-6 {% if featured_image.text_right %}pull-right{% endif %}'>
                        <h1>{{ featured_image.product.title }}</h1>
                            <p>
                                {{ featured_image.product.description }}
                            </p>
                            <p>
                                <a class="btn btn-lg btn-raised btn-warning" href="{{ featured_image.product.get_absolute_url }}"
                                   role="button">More details</a>
                            </p>
                        </div>
                        {% if not featured_image.make_image_background %}
                            <div class='col-sm-6'>
                                <img src="{{ featured_image.image.url }}" class="img-responsive ">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class='col-sm-6'>
                            <h1>eCommerce project</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum congue enim.
                                Duis et diam id neque vehicula sollicitudin et non orci.
                                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                                Nullam risus lacus, sagittis et diam et, accumsan sodales lectus.
                            </p>
                            <p>
                                <a class="btn btn-lg btn-primary" href="" role="button">Join Us &raquo;</a>
                            </p>
                        </div>
                        <div class='col-sm-6'>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/EUJM3YR56wU" frameborder="0"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

{% endblock %}

{% block content %}
    <div class="row">
        <h3 class="text-center">Recommended Products</h3>
        {% include 'products/products.html' with object_list=products col_class_set='col-sm-3'  %}
    </div>

    <div class="row">
        <h3 class="text-center">Featured Products</h3>
        {% include 'products/products.html' with object_list=featured_products %}
    </div>


{% endblock %}